html, body {
  height:100%;
  margin:0;
  padding:0;
}

body {
  background-image:url('../img/masjid-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  font-family: 'Inconsolata'
}

.container-fluid,.row {
  height:100%;
  }

.board-container {
  padding:200px;
  box-sizing:border-box;
}

.board { 
  background-color: #00000089;
  color: #ffffff;
  height:100%;
  padding:20px;
}

#terminal { 
  white-space: pre; 
}

#b { 
  display: none; 
}